.DS_Store

# project files
.vscode/
.idea/

.git/

# modules
node_modules/
*.log

#build
.travis.yml
build/

#dev
test/
.babelrc.json
.commitlintrc.js
.eslintignore
.eslintrc.js
.gitignore
.prettierrc.js
.stylelintrc.js
postcss.config.js
jsconfig.json
tsconfig.json
.husky/
config/
public/
scripts/
src/

package-lock.json
yarn.lock
